.brands {
  width: 100vw;
  height: 60vh;
  background-color: rgb(245, 245, 245);
  padding-top:5px ;
  margin-top: -30px;
  padding-bottom: 50px;

}

.brands p{
    margin-top: 100px;
    font-size: 1.3em;
    font-weight: 500;
    color: rgb(88, 83, 83);
}
@media (min-width: 1000px) {
  .brands {
    height: 40vh;
  }
}

.brands .logos{
    display: flex;
    justify-content: center;
    align-items: center;
gap: 30px;
flex-wrap: wrap;
}

.brands img{
    filter: brightness(0);
    width: 150px;
}
