.header{
  z-index: 20000;
}

@media (min-width: 1200px) {
  .header{
    overflow-y: visible;
  }
  .header-menu {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: 380px;
    justify-content: space-around;
  }

  .bars-container {
    display: none;
  }

  .header-menu li {
    font-size: 22px;
    font-weight: 500;
  }
  .typesButton{
    position: relative;
  }
  .menu-component.open{
    display: block;
    position: absolute;
    top: 100%;left: -60%;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)

  }
  
}

@media (max-width: 1200px) {
  .header-menu {
    display: none;
  }

  .header {
    justify-content: space-between;
  }

  .header-menu.open {
    display: flex;
    flex-direction: column;
    position: fixed; 
    top: 100px;
    left: 0;
    width: 100vw;
    height: 90vh;
    background-color: white; 
    z-index: 1000;
    overflow-y: auto;
    padding: 3rem;
    box-sizing: border-box;
  }
  
  .header-menu.open li{
    font-size: 42px;
    font-weight: 500;
    margin-top: 20px;
    text-align: left;
  }

 .header-menu.open .material-symbols-outlined {
    font-size: 45px;
    vertical-align: middle;
  }
}



.header {
  height: 130px;
  width: 100%;
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.header-menu li {
  list-style: none;
}
.header-menu li:hover {
  list-style: none;
  color: rgb(99, 58, 30);
}

.header .logo {
  width: 200px;
  height: 80px;
  margin-top:  10px;
  margin-left:  48px;
}

.header-menu .loginBtn {
  all: unset;
  color: white;
  padding: 3px 8px;
  background-color: rgb(99, 58, 30);
}

.material-symbols-outlined {
  font-size: 35px;
  vertical-align: middle;
}

.menu-component {
  display: none;
}


.menu-component.open{
  display: block;
 
}
